ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.calendar-month {
  position: relative;
  background-color: var(--grey-200);
  border: solid 1px var(--grey-200);
}

.calendar-month h1{
  margin-left: 10px;
  position: relative;
}

.calendar-month-header {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px;
}

.calendar-month-header-selected-month {
  font-size: 24px;
  font-weight: 600;
}

.day-of-week {
  color: var(--grey-800);
  font-size: 18px;
  background-color: #fff;
  padding-bottom: 5px;
  padding-top: 10px;
}

.day-of-week,
.days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-of-week > * {
  text-align: right;
  padding-right: 5px;
}

.days-grid {
  height: 100%;
  position: relative;
  grid-column-gap: var(--grid-gap);
  grid-row-gap: var(--grid-gap);
  border-top: solid 1px var(--grey-200);
}

.calendar-day {
  height: 100px;
  font-size: 16px;
  background-color: #fff;
  color: var(--grey-800);
  padding: 5px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.calendar-day > div{
  color: black;
  background-color: lightblue;
  margin-top: 20px;
  font-size: 10px;
  display: flex;
  justify-content: flex-end;
  margin-left: 25px;
  padding: 5px;
  border-radius: 5px;
  text-align: end;
}

.calendar-day > div{
  cursor: pointer;
}

.calendar-day--not-current {
  background-color: var(--grey-100);
  color: var(--grey-300);
}

.calendar-day--not-current div{
  background-color: unset !important;
}


.numbOfDay{
  position: absolute;
  z-index: 1;
  background-color: #fff;
}
